<table class="table">
    <thead >
      <tr>
        <th scope="col">S.N</th>
        <th scope="col">Stock Name</th>
        <th scope="col">Transaction Type</th>
        <th scope="col">Quantity</th>
        <th scope="col">Amount</th>
        <th scope="col">Transaction Date</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let sd of service.list,let i = index" >
          <td >{{i+1}}</td>
          <td >{{sd.stockName}}</td>
          <td >{{sd.transactionType}}</td>
          <td >{{sd.quantity}}</td>
          <td >{{sd.amount}}</td>
          <td >{{sd.transactionDate}}</td>
          <td>
              <em *ngIf="sd.transactionId== service.list[service.list.length-1].transactionId" class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(sd.transactionId)"></em>
          </td>
          <td>
            <em *ngIf="sd.transactionId== service.list[service.list.length-1].transactionId" class="far fa-edit fa-lg text-danger" (click)="populateForm(sd.transactionId)" ></em>
          </td>  
      </tr>
    </tbody>
  </table>